.shop_card_table {
    background-image: url(img/shopslot.png);
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
    border: none;
    transition: .5s;
    table-layout: fixed;
}

.shop_card_icon>img {
    height: 90px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td.shop_card_name {
    font-size: 14pt;
    color: #2e3338;
    padding-left: 18px;
    font-family: 'Proxima Nova', sans-serif;
}

td.shop_card_coast {
    padding-left: 15px;
    color: #2e3338;
    font-size: 16pt;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

td.shop_card_buy {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 5px;
}

.shop_card_btn {
    font-size: 15pt;
    border: none;
    background-color: rgba(255, 255, 255, 0) !important;
    cursor: pointer;
}

.shop_card_content.row {
    padding: 40px 80px;
}

.shop_bar {
    width: 83px;
    height: 300px;
    position: fixed;
    top: 260px;
    left: 0;
    background: #fff;
    padding: 21px 17px;
    border-bottom: 7px solid #eee;
    border-radius: 3px;
    box-shadow: 0px 10px 65px 0px #dae0e8;
}

.shop_icons {
    height: 100%;
    width: 100%;
}
/*Cards*/

.card_table {
    background-image: url(/media/img/donate/cards/cardBg.png);
    width: 293px;
    height: 161px;
    background-repeat: no-repeat;
    border: none;
    transition: .5s;
}

.card_name {
    padding-left: 15px;
    font-size: 14pt;
    color: #2e3338;
}

.card_coast {
    padding-left: 15px;
    color: #2e3338;
    font-size: 16pt;
}

.card_icon {
        width: 100px;
    height: 80px;
    padding-left: 15px;
}

.card_disc {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 10pt;
}

.card_btn {
    margin-left: 60px;
    font-size: 15pt;
    border: none;
    background-color: rgba(255, 255, 255, 0) !important;
    cursor: pointer;
}

.card_table:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.card_content {
    padding-top: 35px;
    padding-left: 65px;
}

table.card_table.card-table1 {
    margin: 20px 0 0 250px;
}

/*Cards*/


